{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'menu.html' %}

    <h1>Contact Page</h1>
 
    <form method='post' action="/contactprocess">
    {% csrf_token %}
Mathematic:<input type="number" max="100" min="1" name="txt1" required autocomplete="off"/> <br><br>
Chemsitry:<input type="number" max="100" min="1" name="txt2" required autocomplete="off"/> <br><br>
Physics:<input type="number" max="100" min="1" name="txt3" required autocomplete="off"/> <br><br>
English:<input type="number" max="100" min="1" name="txt4" required autocomplete="off"/> <br><br>
Hindi:<input type="number" max="100" min="1" name="txt5" required autocomplete="off"/> <br><br>

<input type= "submit"/>
 </form>
   
</body>
</html>