<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Email </th>
            <th> Mobile </th>
            <th> Age </th>
            <th> Address </th>
            <th> Action </th>
            
        </tr>
        {% for s in student %}
        <tr>
            <td> {{s.id}} </td>
            <td> {{s.Name}} </td>
            <td> {{s.Email}} </td>
            <td> {{s.Mobile}} </td>
            <td> {{s.Age}} </td>
            <td> {{s.Address}} </td>
            <td> 
            <a href="/delete_student/{{s.id}}"> Delete </a>   
            </td>
            
        </tr>
        {% endfor %}

    </table>
</body>
</html>